.container {
  width: calc(100% - 4rem);
  max-width: 100%;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 2rem;
}

code {
  border-radius: .25rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}