#main-doc {
  padding: 1rem 0 0 0;
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 1fr;
}

#navbar {
  grid-column: 1 / 2;
  position: fixed;
}

#content {
  grid-column: 2 / 3;
}